<!--model-->
<div th:fragment="modall" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Create new list</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form th:action="@{/}" method="POST">
            <!--<input type="hidden" name="_csrf" th:value="${_csrf.token}" />-->
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">New list</label>
              <input type="text" class="form-control" id="recipient-name" name="inputname">
            </div>
            <!--<div class="mb-3">
              <label for="message-text" class="col-form-label">Message:</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>-->

            <!--*****icon**********************-->
            <div>
              <input type="text" id="iconSearch" placeholder="Search Icons..." class="form-control">
            </div>

            <div id="iconContainer" class="d-flex flex-wrap mt-2">
              <button th:each="icon : ${icons}" class="btn btn-light m-1 icon-btn candidate-icon"
                      th:data-icon="${icon}">
                <i th:class="${icon}"></i>
              </button>

            </div>


            <input type="hidden" name="selectedIcon" id="selectedIcon">
            <!--******************************-->

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" id="addlistbutton" class="btn btn-primary">Send message</button>


        </div>


        </form>
      </div>
    </div>
  </div>
</div>
<!--model-->